@import '../../_variables'

.statistics-container
    display: flex
    flex-direction: row
    justify-content: center
    align-items: baseline
    width: 100%
    padding: 25px 15px
    color: black
    background-color: $primary-color
    min-height: calc( 100vh - 45px )
