@import '../../_variables'

.archive-container
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    color: black
    width: 100%
    background-color: $primary-color
    min-height: calc( 100vh - 45px )
    overflow-x: hidden
    padding: 25px 15px
    cursor: default

    .message-container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%
        height: calc( 100vh - 95px )
        cursor: default
        padding: 30px
