@import '../../_variables'

.archive-container
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    color: black
    width: 100%
    background-color: $primary-color
    min-height: calc( 100vh - 45px )
    overflow-x: hidden
    padding: 30px 15px 15px
    cursor: default
