@import '../../_variables'

.homepage-container
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    background-color: $primary-color
    width: 100%
    height: fit-content

    .hero-container
        width: 100%
        height: 700px
        position: relative
        background: $secondary-color
        border-bottom-left-radius: 350px
        border-bottom-right-radius: 350px

        &::after
            content: ''
            display: block
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 700px
            opacity: 0.1
            background-color: black
            background-image: url('../../assets/form-background.jpg')
            background-repeat: no-repeat
            background-position: center center
            background-size: cover
            pointer-events: none
            filter: blur(1.5px)
            border-bottom-left-radius: 350px
            border-bottom-right-radius: 350px
