@import '../../_variables'

.homepage-container
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    background-color: $primary-color
    width: 100%
    height: fit-content
    cursor: default

    .hero-container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 25px 120px

        .vector
            width: 100%
            height: auto

    .features
