@import '../../_variables'

.homepage-container
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    position: relative
    background-color: $primary-color
    width: 100%
    cursor: default

    #hero-container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        color: white
        background-color: rgba(black, 0.85)
        position: relative
        width: 100%
        height: 100vh
        padding-inline: 20px
        user-select: none

        &::after
            content: ''
            display: block
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100vh
            opacity: 0.1
            background: url(../../assets/hero-background.jpg) no-repeat center center fixed
            background-size: cover
            pointer-events: none
            filter: blur(0.7px)

    #about-us
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%
        padding: 30px 20px

        .about-us-text
            display: flex
            flex-direction: row
            justify-content: center
            align-items: flex-start
            margin: 20px 30px

            @media screen and ( max-width: 1065px )
                flex-direction: column

            .text-wrapper
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                width: 350px
                margin-inline: 20px
                background-color: lightgray

                @media screen and ( max-width: 1065px )
                    margin: 0

            .image
                height: 350px

                @media screen and ( max-width: 1065px )
                    display: none

            .image-mobile
                display: none

                @media screen and ( max-width: 1065px )
                    display: inline
                    width: 100%
                    height: auto

    #how-does-it-works-container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%
        padding: 30px 20px
        background-color: $secondary-color

        .steps
            list-style: none
            counter-reset: steps
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            flex-wrap: wrap

            .step
                counter-increment: steps
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                text-align: center
                width: 500px
                height: 250px
                position: relative
                margin: 0 10px
                padding: 15px

                @media screen and ( max-width: $xs )
                    width: 100%

                &::before
                    content: counter(steps, decimal-leading-zero)
                    font-size: 200px
                    color: black
                    text-align: center
                    width: 100%
                    display: block
                    position: absolute
                    left: 0
                    top: 0
                    opacity: 0.15
                    transform: translateY(-8%)
                    pointer-events: none

    #features-container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%
        padding: 30px 20px

        .columns
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center

            @media screen and ( max-width: $sm )
                flex-direction: column

            .column
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center

                .feature-box
                    display: flex
                    justify-content: space-between
                    align-items: flex-start
                    width: 550px
                    height: 180px
                    padding: 15px
                    margin: 15px
                    border-radius: 5px
                    background-color: white
                    box-shadow: 0 3px 7px -1px rgba(black, 0.1)

                    @media screen and ( max-width: $md )
                        width: 350px
                        height: 301px

                    @media screen and ( max-width: $sm )
                        width: 550px
                        height: 180px

                    @media screen and ( max-width: $xs )
                        width: 100%
                        height: fit-content

                    .feature-image
                        width: 80px
                        height: 80px
                        margin-right: 25px

                    .feature-text
                        display: flex
                        flex-direction: column
                        justify-content: flex-start
                        align-items: flex-start
                        width: 100%

    #about-us > .section-title,
    #how-does-it-works-container > .section-title,
    #features-container > .section-title
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: fit-content
