@import '../../_variables'

.board-container
    display: flex
    flex-direction: column
    overflow-x: auto
    justify-content: flex-start
    align-items: flex-start
    width: 100%
    height: 100vh
    color: black
    background-color: $primary-color

    .board-header
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        padding: 15px 20px
        cursor: default

    .dnd-container
        display: flex
        flex-direction: row
        overflow-x: auto
        justify-content: flex-start
        align-items: baseline
        width: 100%
        height: 100%
        color: black
        padding-inline: 10px

        .context
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            width: fit-content
            margin-inline: 10px

            .column-header
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                width: 100%
                color: white
                background-color: #1d5692
                border-top-left-radius: 5px
                border-top-right-radius: 5px
                padding: 5px 20px
                cursor: default
                user-select: none

                .column-header-top-line
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    align-items: center
                    width: 100%
                    margin-bottom: 5px

                .column-header-icon
                    font-size: 18px

            .droppable
                padding: 10px
                width: 300px
                overflow-y: auto
                height: calc( 100vh - 160px)
                border-bottom-left-radius: 5px
                border-bottom-right-radius: 5px
                border: 1px solid rgba(black, 0.1)

    .job-container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        user-select: none
        border-radius: 5px
        padding: 10px
        min-height: 50px
        background-color: white
        box-shadow: 0 3px 7px -1px rgba(black, 0.1)

        .job-header
            display: flex
            justify-content: space-between
            align-items: baseline
            width: 100%

    .message-container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%
        height: calc( 100vh - 95px )
        cursor: default
        padding: 30px
