@import '../../_variables'

.board-container
    display: flex
    flex-direction: row
    overflow-x: auto
    justify-content: center
    align-items: baseline
    width: 100%
    padding: 25px 15px
    color: black
    background-color: $primary-color
    min-height: 100vh
