@import '../../_variables'

.page-container
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    width: 100%
    height: 100vh
    color: black
    background-color: $primary-color

    @media screen and ( max-width: $sm )
        flex-direction: column-reverse

    .board-container
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        width: calc( 100% - 200px )
        height: 100vh
        padding: 0 20px

        @media screen and ( max-width: $sm )
            width: 100%
            height: calc( 100vh - 60px )

        .board-header
            display: flex
            justify-content: space-between
            align-items: center
            width: 100%
            padding: 15px 0
            cursor: default

        .dnd-container
            display: flex
            flex-direction: row
            overflow-x: auto
            justify-content: flex-start
            align-items: baseline
            width: 100%
            height: 100%

            .context
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                width: fit-content

                .column-header
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    width: 100%
                    color: white
                    background-color: $secondary-color
                    border-top-left-radius: 5px
                    border-top-right-radius: 5px
                    padding: 5px 20px
                    user-select: none

                    .column-header-top-line
                        display: flex
                        flex-direction: row
                        justify-content: space-between
                        align-items: center
                        width: 100%
                        margin-bottom: 5px

                    .column-header-icon
                        font-size: 18px

                .droppable
                    padding: 10px
                    width: 300px
                    overflow-y: auto
                    height: calc( 100vh - 160px )
                    border-bottom-left-radius: 5px
                    border-bottom-right-radius: 5px
                    border: 1px solid rgba(black, 0.1)

                    @media screen and ( max-width: $sm )
                        height: calc( 100vh - 210px )

    .job-container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        user-select: none
        border-radius: 5px
        padding: 10px
        min-height: 50px
        background-color: white
        box-shadow: 0 3px 7px -1px rgba(black, 0.1)

        .job-header
            display: flex
            justify-content: space-between
            align-items: baseline
            width: 100%
